#calculator {
    width: 300px;
    padding: 10px;
    background: #000000;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 50px auto;
}

#input_display {
    width: 98%;
    height: 40px;
    font-size: 24px;
    text-align: right;
    margin-bottom: 10px;
    background: #026d40;
    color: #ffffff; 
    border: 1px solid #ddd;
    padding: 5px;
    box-sizing: border-box; 
    white-space: nowrap; 
    overflow: hidden;
}

.buttons button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}